# Virtual Environment
/venv/
# Python cache
__pycache__/
*.py[cod]
*$py.class
# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
# Data files
data/train.ft.txt
data/test.ft.txt
data/processed_reviews.csv
# Model files (should be handled by Git LFS)
/models/*.pkl
# VS Code settings
.vscode/
models/*.pkl filter=lfs diff=lfs merge=lfs -text
